body {
	background: linear-gradient(135deg, #f3d9be 0%, #f3bebe 33%, #d9bef3 66%, #bebef3 100%);
	/* background: linear-gradient(135deg, #f3ccbe, #f3f3be, #bef3be, #bef3f3, #bebef3, #e6bef3); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}

.heading {
	font-size: 64px;
	font-family: 'Karma', serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #7733ff;
	text-decoration: none;
}

@media (max-width: 499px) {
    .heading {
    	font-size: 40px;
    }

    a {
    	color: #7733ff;
    }
}