:root {
  /* https://coolors.co/f8f9fa-071f35-9d63cf-fafa38-433bff-0b5ed7 */
  --blue: #a1c4fd;
  --dark-blue: #071f35;
  --primary: #9d63cf;
  --secondary: #fbfb66;
  --accent: #433bff;
  --accent-hover: #3630cc;
  --bs-body-color: #f8f9fa;
  --bs-dark-rgb: 7, 31, 53;
  --bs-border-color: var(--secondary);
  --bs-link-color-rgb: 248, 249, 250;
  --bs-link-hover-color-rgb: 198, 204, 210;
}

body {
  font-family: 'Signika Negative', sans-serif;
  font-size: 18px;
  background-color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Righteous', sans-serif;
}

/* Utilities  */

.bg-blue {
  background-color: var(--blue);
}

.bg-circles {
  background-image: radial-gradient(#2f3a4c 1px, #071f35 1px);
  background-size: 22px 22px;
  background-position: 22px;
}

.box-shadow-custom {
  box-shadow: 3px 3px 0px var(--primary);
}
.text-shadow-custom {
  text-shadow: 2px 2px 0px var(--primary);
}

.object-position-top {
  object-position: top;
}
.object-position-bottom {
  object-position: bottom;
}

.ratio-2x3 {
  --bs-aspect-ratio: 150%;
}

.underline-hover {
  text-decoration: none;
}
.underline-hover:hover {
  text-decoration: underline;
}

/* Components */

.badge {
  color: var(--secondary);
}

.btn-primary {
  --bs-btn-bg: var(--accent);
  --bs-btn-border-color: var(--accent);
  --bs-btn-hover-bg: var(--accent-hover);
  --bs-btn-hover-border-color: var(--accent-hover);
}

/* Header  */

.me {
  aspect-ratio: 4 / 3;
}

.me > img {
  object-position: 75% bottom;
}

@media (min-width: 768px) {
  .site-header {
    height: 85vh;
  }

  .me {
    aspect-ratio: unset;
    position: absolute;
    inset: 0;
    height: 100%;
    padding-top: 10%;
  }

  .me > img {
    object-position: bottom;
  }
}

/* Footer */

footer {
  background: var(--accent);
}

/* Animations */

/* https://www.cssscript.com/animated-gradient-background-with-pure-css */
.layer {
  position: absolute;
  width: 0.001vmin;
  height: 0.001vmin;
  border-radius: 50%;
  opacity: 0.25;
}
.layer:nth-child(2) {
  box-shadow: 0 0 45vmax 45vmax #ff00ff;
  animation:
    hue 10s 0s linear infinite,
    move1 19s 0s linear infinite;
}
.layer:nth-child(3) {
  box-shadow: 0 0 45vmax 45vmax #ffffff;
  animation:
    hue 15s 0s linear infinite,
    move2 25s 0s linear infinite;
}
.layer:nth-child(4) {
  box-shadow: 0 0 45vmax 45vmax #00ffff;
  animation:
    hue 20s 0s linear infinite,
    move3 15s 0s linear infinite;
  opacity: 0.2;
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes move3 {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}
