---
import Gestalt from '@/components/Gestalt.astro';
import GradientBackground from '@/components/GradientBackground.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout description="Ezgi Okka, interaction designer">
  <main class="overflow-hidden">
    <GradientBackground />

    <Gestalt>
      <h1 class="display-5 lh-1 text-center text-dark mb-3">Ezgi<br />Okka</h1>
      <p class="fs-5 lh-1 text-center text-dark mb-0">Interaction Designer</p>
    </Gestalt>
  </main>

  <script>
    import { animate } from 'animejs';

    animate('h1', {
      opacity: [{ to: 1 }],
      delay: 4000,
      duration: 1000,
    });

    animate('p', {
      opacity: [{ to: 1 }],
      delay: 5000,
      duration: 1000,
    });
  </script>
</BaseLayout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }

  h1,
  p {
    opacity: 0;
  }
</style>
