<footer class="text-center py-3">
  <a class="text-decoration-none" href="https://github.com/melodidev/">
    <i class="fa-brands fa-github fa-lg me-2"></i>
    <span class="underline-hover">Find me at GitHub!</span>
  </a>
</footer>
