<div class="gradient"></div>

<style>
  .gradient {
    background-color: var(--blue);
    position: absolute;
    inset: 0;

    &::after {
      content: '';
      animation: hue 10s 0s linear infinite;
      background: radial-gradient(
        circle at center in hsl longer hue,
        #ff00ff 0%,
        #ff00ff00 100%
      );
      opacity: 0.25;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  @keyframes hue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
</style>
