---
const isActive = (href: string) => {
  const pathname = Astro.url.pathname;
  return pathname === href || pathname.startsWith(`${href}/`);
};

const menu = [
  {
    title: 'About',
    href: '/about',
  },
  {
    title: 'Portfolio',
    href: '/portfolio',
  },
  {
    title: 'Blog',
    href: '/blog',
  },
];
---

<header>
  <nav class="navbar navbar-expand bg-blue">
    <div class="container">
      <a class="navbar-brand h6 mb-0" href="/" aria-label="Home">
        <i class="fa-solid fa-circle"></i>
      </a>

      <ul class="navbar-nav">
        {
          menu.map(({ title, href }) => (
            <li class="nav-item">
              <a
                class:list={[
                  'nav-link h6 mb-0 px-lg-4 py-4',
                  isActive(href) && 'active',
                ]}
                href={href}
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
