---
import '@fortawesome/fontawesome-free/css/all.css';
import 'aos/dist/aos.css';
import 'photoswipe/style.css';

import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout {...Astro.props}>
  <Header />

  <main>
    <slot />
  </main>

  <Footer />

  <script>
    import AOS from 'aos';
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    AOS.init({
      once: true,
    });

    const lightbox = new PhotoSwipeLightbox({
      gallery: '.lightbox-gallery',
      children: '.lightbox-image',
      pswpModule: () => import('photoswipe'),
    });
    lightbox.init();
  </script>
</BaseLayout>
