---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';

import 'aos/dist/aos.css';
import 'bootstrap/dist/css/bootstrap.css';
import 'photoswipe/style.css';

import '@/styles/styles.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>✨ Melodi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Righteous&family=Signika+Negative:wght@300..700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <Header />

    <slot />

    <Footer />

    <script>
      import AOS from 'aos';
      import PhotoSwipeLightbox from 'photoswipe/lightbox';

      AOS.init({
        once: true,
      });

      const lightbox = new PhotoSwipeLightbox({
        gallery: '.lightbox-gallery',
        children: '.lightbox-image',
        pswpModule: () => import('photoswipe'),
      });
      lightbox.init();
    </script>
  </body>
</html>
